.latest {
  background-color: grey;
}

.latest > div {
  display: flex;
  flex-direction: column;
}

.latest main {
  display: flex;
}

.latest .articles {
  width: 66%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.latest .side-links {
  width: 33%;
  background-color: rgb(207, 246, 33);
}

.articles article {
  background-color: #f0f0f0bd;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  padding: 5px;
}

.articles article > img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.articles article .summary {
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* background-color: beige; */
}

.articles article .summary .article-btn {
  float: right;
}
